name: Build App

on:
    push:
        branches:
            - master
    workflow_dispatch:

jobs:
    build:
        runs-on: ubuntu-latest
        steps:
            - name: Run Bun Basic Action
              uses: jeff283/bun-basic-action@main
